body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: var(--background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    /* Change title color */
}

.card h3 {
    color: var(--accent);
    margin-bottom: 10px;
    font-size: 20px;
    /* Increase subtitle font size */
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    /* Change description color */
}